Description=Multiroom Audio Controller

[Service]
ExecStart=/bin/bash /usr/local/bin/start_web_ui
# Required on some systems
#WorkingDirectory=/opt/nodeserver
Type=forking
Restart=always
 # Restart service after 10 seconds if node service crashes
 RestartSec=10
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=multiroom-controller
User=brett
#Group=<alternate group>
Environment=NODE_ENV=production PORT=2221
