<div class="jumbotron text-center" >
        <h2> MultiRoom Controller</h2>
        <div class="container" >

                                        <div class="repeatContainer">
                                        <div class="imagecontainer"  ng-repeat="b in buttons.responseData" ><img src="app/img/speaker.png"  ng-click="moveSink(b)"  ><p class="sink-name"> {{b.name| removeUnderScore | removeDash | removeDot | removeChromeCast | removeAlsa | removeFirstFifteen }}
                                         </div>
                                        </div>

        </div>
</div>

