<div class="rz-header">
    <p class="vol-title">Volume<p>
</div>
<div class="rz-container">
    <rzslider id="rz1" rz-slider-model="val" rz-slider-options="{floor:0,ceil:100,onEnd:sliderEnd}"></rzslider>
</div>

<div class="jumbotron text-center" >
        <h2 class='title'> MultiRoom Controller</h2>
        <div class="btn btn-primary refresh" ng-click="refreshSinks()">Refresh Sinks</div>
        <div class="container" >

                                        <div class="repeatContainer">
                                        <div class="imagecontainer"  ng-repeat="b in buttons" ><div class="buttons"  ng-click="moveSink($index)"><i class="fa fa-power-off fa-4x off" aria-hidden="true"></i></div><p class="sink-name"> {{b.name| removeUnderScore | removeDash | removeDot | removeChromeCast | removeAlsa | firstFifteen }}
                                         </div>
                                        </div>

        </div>
</div>
